.player {
    list-style-type: none;
}

.playercard {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    border-style: solid;
    border-color:  darkcyan;
    background-color: cadetblue;
    border-radius: 8px;
}
.points {
    float: right;
}